

h1 {
    font-size: 6em;
    color: brown;
    

}
.header {
    color:hotpink
}
#header {
    color:green
}

p {
    font-size: 15x;
    color:rgb(28, 7, 66)
}

.col-sm-4 {
    align-self: center
}
    

@media only screen and (max-width: 700px) {
   
}